classroom-scheduler/scheduler.db
classroom-scheduler/classroom-scheduler.exe
classroom-scheduler/classroom-scheduler.exe~
classroom-scheduler/scheduler.exe
classroom-scheduler/scheduler.exe~
json2sql/jumpstart2024.db-shm
json2sql/jumpstart2024.db-wal
